// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.review {
	background-color: #D1EEFC;
	padding:7px;
	margin:7px;
}

.newreview {
	border: 1px solid #D1EEFC;
	padding:6px;
	margin:7px;
}

p {
	margin : 5px 0 5px 0
}

