<h1>all products</h1>

<p>
	<%= link_to "New User", new_user_url %>
</p>

<p>
	<%= link_to "New Product", new_product_url %>
<p>

<ol>
	<% @products.each do |product| %>
	<li><%= link_to product[:name], "/products/#{product.id}" %></li>
	<% end %>
</ol>